@model AdminHeaderViewModel

<header class="main-header dark-bg">
    <style>
        .messages-menu {
            position: relative;
        }

            .messages-menu .notify {
                position: absolute;
                top: 5px;
                right: 3px;
            }

        .notifications-menu {
            position: relative;
        }

            .notifications-menu .notify {
                position: absolute;
                top: 5px;
                right: 1px;
            }
    </style>

    <!-- Logo -->
    <a href="../index.html" class="logo dark-bg">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="~/images/logos/mulhtishop1.jpg" style="width:50px;height:50px; important!" alt="Ovio"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="~/images/logos/mulhtishop1.jpg" style="width:200px;height:50px; important!" alt="Ovio"></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <span class="sr-only">Toggle navigation</span> </a>
        <div class="pull-left search-box">
            <form action="#" method="get" class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Arama yap...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
                    </span>
                </div>
            </form>
            <!-- search form -->
        </div>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-envelope">@ViewBag.messageCount</i>
                        <div class="notify"> <span class="heartbit"></span><span class="point"></span> </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">@(ViewBag.messageCount > 0 ? $"Şu an {ViewBag.messageCount} yeni mesajınız var" : "Yeni mesaj yok")</li>
                        <li>
                            <ul class="menu">
                                @foreach (var message in Model.InboxMessages)
                                {
                                    <li>
                                        <a href="#">
                                            <div class="pull-left"><img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="img-circle" alt="User Image"></div>
                                            <h4>@message.SenderFullName</h4>
                                            <p>@(message.Content.Length > 25 ? message.Content.Substring(0, 25) + "..." : message.Content)</p>
                                            <p><small><i class="fa fa-clock-o"></i> @message.MessageDate</small></p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="footer"><a href="#">Bildirimleri Okundu Olarak İşaretle</a></li>
                    </ul>
                </li>
                <!-- messages-menu -->
                <!-- Notifications Menu -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-megaphone">@ViewBag.commentCount</i>
                        <div class="notify"> <span class="heartbit"></span><span class="point"></span> </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">@(ViewBag.commentCount > 0 ? $"Şu an {ViewBag.commentCount} yeni yorumunuz var" : "Yeni yorum yok")</li>
                        <li>
                            <ul class="menu">
                                @foreach (var comment in Model.Comments)
                                {
                                    <li>
                                        <a href="#">
                                            <i class="icon-lightbulb"></i> @(comment.CommentDetail.Length > 25 ? comment.CommentDetail.Substring(0, 25) + "..." : comment.CommentDetail)
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="footer"><a href="#">Hepsini Gör</a></li>
                    </ul>
                </li>
                <!-- Tasks Menu -->
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="user-image" alt="User Image"> <span class="hidden-xs">Admin</span> </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <div class="pull-left user-img"><img src="https://img.freepik.com/premium-vector/avatar-profile-icon-flat-style-female-user-profile-vector-illustration-isolated-background-women-profile-sign-business-concept_157943-38866.jpg?semt=ais_hybrid" class="img-responsive" alt="User"></div>
                            <p class="text-left">Florence Douglas <small>multishop@gmail.com</small> </p>
                            <div class="view-link text-left"><a href="#">Profili gör></a></div>
                        </li>
                        <li><a href="#"><i class="icon-profile-male"></i> Profilim</a></li>
                        <li><a href="#"><i class="icon-wallet"></i> Limitim</a></li>
                        <li><a href="#"><i class="icon-envelope"></i> Gelen Kutusu</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="icon-gears"></i> Hesap Ayarları</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>