<h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">@localizer.GetKey("Renge Göre Filtrele", typeof(ProductListResources))</span></h5>
<div class="bg-light p-4 mb-30">
    <form>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" checked id="color-all">
            <label class="custom-control-label" for="price-all">@localizer.GetKey("Tüm Renkler", typeof(ProductListResources))</label>
            <span class="badge border font-weight-normal">1000</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="color-1">
            <label class="custom-control-label" for="color-1">@localizer.GetKey("Siyah", typeof(ProductListResources))</label>
            <span class="badge border font-weight-normal">150</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="color-2">
            <label class="custom-control-label" for="color-2">@localizer.GetKey("Beyaz", typeof(ProductListResources))</label>
            <span class="badge border font-weight-normal">295</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="color-3">
            <label class="custom-control-label" for="color-3">@localizer.GetKey("Kırmızı", typeof(ProductListResources))</label>
            <span class="badge border font-weight-normal">246</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="checkbox" class="custom-control-input" id="color-4">
            <label class="custom-control-label" for="color-4">@localizer.GetKey("Mavi", typeof(ProductListResources))</label>
            <span class="badge border font-weight-normal">145</span>
        </div>
        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
            <input type="checkbox" class="custom-control-input" id="color-5">
            <label class="custom-control-label" for="color-5">@localizer.GetKey("Yeşil", typeof(ProductListResources))</label>
            <span class="badge border font-weight-normal">168</span>
        </div>
    </form>
</div>