@model UserDetailViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <br />
    <h3>Kullanıcı Profil Bilgileri</h3>
    <div class="alert alert-info">Kullanıcı ID: @Model.Id</div>
    <div class="alert alert-warning">Kullanıcı  Adı: @Model.UserName</div>
    <div class="alert alert-info">Ad: @Model.Name</div>
    <div class="alert alert-warning">Soyad: @Model.Surname</div>
    <div class="alert alert-info">Email: @Model.Email</div>
</div>