@model CreateOrderAddressDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_IULayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">"@localizer.GetKey("SİPARİŞ TESLİMAT VE FATURA ADRESİNİZ", typeof(SharedResources))"</span></h5>
                <div class="bg-light p-30 mb-5">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>"@localizer.GetKey("Ad", typeof(SharedResources))"</label>
                                <input class="form-control" type="text" placeholder="@localizer.GetKey("Adınız", typeof(SharedResources))" asp-for="Name">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>"@localizer.GetKey("Soyad", typeof(SharedResources))"</label>
                                <input class="form-control" type="text" placeholder="@localizer.GetKey("Soyad", typeof(SharedResources))" asp-for="Surname">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>@localizer.GetKey("E-mail", typeof(SharedResources))</label>
                                <input class="form-control" type="text" placeholder="mail@email.com" asp-for="Email">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>@localizer.GetKey("Telefon Numarası", typeof(SharedResources))</label>
                                <input class="form-control" type="text" placeholder="+90 987 654 3210" asp-for="Phone">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>@localizer.GetKey("Adres", typeof(SharedResources)) 1</label>
                                <input class="form-control" type="text" placeholder="@localizer.GetKey("A Mahallesi", typeof(SharedResources))" asp-for="Detail1">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>@localizer.GetKey("Adres", typeof(SharedResources)) 2</label>
                                <input class="form-control" type="text" placeholder="@localizer.GetKey("A Sokak", typeof(SharedResources))" asp-for="Detail2">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>@localizer.GetKey("Ülke", typeof(SharedResources))</label>
                                <input class="form-control" type="text" placeholder="@localizer.GetKey("Türkiye", typeof(SharedResources))" asp-for="Country">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>@localizer.GetKey("İl", typeof(SharedResources))</label>
                                <input class="form-control" type="text" placeholder="@localizer.GetKey("İl", typeof(SharedResources))" asp-for="City">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>@localizer.GetKey("İlçe", typeof(SharedResources))İlçe</label>
                                <input class="form-control" type="text" placeholder="@localizer.GetKey("İlçe", typeof(SharedResources))" asp-for="District">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>@localizer.GetKey("Posta Kodu", typeof(SharedResources))</label>
                                <input class="form-control" type="text" placeholder="12345" asp-for="ZipCode">
                            </div>
                            <div class="col-md-12 form-group">
                                <label>@localizer.GetKey("Açıklama", typeof(SharedResources))</label>
                                <textarea class="form-control" type="text" placeholder="@localizer.GetKey("Açıklama", typeof(SharedResources))" asp-for="Description" rows="6"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">@localizer.GetKey("SİPARİŞ ÖZETİ", typeof(SharedResources))</span></h5>

                @await Component.InvokeAsync("_OrderSummaryComponentPartial")

                @await Component.InvokeAsync("_PaymentMethodComponentPartial")

            </div>
        </div>
    </div>
</div>