<div class="row bg-secondary py-1 px-xl-5">
    <div class="col-lg-12 text-center text-lg-right">
        <div class="d-flex align-items-center justify-content-end">
            <div class="btn-group">
                <div class="d-flex align-items-center mr-2" style="gap: 6px;">
                    <img src="~/images/exchanges/dollar.png" style="width: 18px;" /><span class="small font-weight-bold text-success"> @ViewBag.usdBuy ₺</span> / <span class="small font-weight-bold text-danger mr-2">@ViewBag.usdSell ₺</span>
                    <img src="~/images/exchanges/euro.png" style="width: 18px;" /><span class="small font-weight-bold text-success"> @ViewBag.eurBuy ₺</span> / <span class="small font-weight-bold text-danger">@ViewBag.eurSell ₺</span>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="#" type="button" class="btn btn-sm btn-light dropdown-toggle mr-2" data-toggle="dropdown">
                        @localizer.GetKey("Hesabım", typeof(TopbarResources))
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a asp-controller="Login" asp-action="Index" class="dropdown-item" type="button">@localizer.GetKey("Giriş Yap", typeof(LoginResources))</a>
                        <a asp-controller="Register" asp-action="Index" class="dropdown-item" type="button">@localizer.GetKey("Kayıt Ol", typeof(RegisterResources))</a>
                    </div>
                }

                @await Html.PartialAsync("_SetLanguagePartial")

            </div>
        </div>
    </div>
</div>