<div class="col-md-6">
    <h4 class="mb-4">@localizer.GetKey("Bir Yorum Ekle", typeof(CommentResources))</h4>
    <small>@localizer.GetKey("E-posta adresiniz yayınlanmayacaktır.", typeof(CommentResources)) @localizer.GetKey("Zorunlu alanlar * ile işaretlenmiştir.", typeof(CommentResources))</small>

    <form id="commentForm">
        <div class="form-group">
            <div class="d-flex my-3">
                <p class="mb-0 mr-2">@localizer.GetKey("Puanınız", typeof(CommentResources)) * :</p>
                <div class="text-primary" id="ratingStars">
                    <i class="far fa-star star" data-index="1"></i>
                    <i class="far fa-star star" data-index="2"></i>
                    <i class="far fa-star star" data-index="3"></i>
                    <i class="far fa-star star" data-index="4"></i>
                    <i class="far fa-star star" data-index="5"></i>
                </div>
            </div>
        </div>

        <input type="hidden" name="ProductId" value="@ViewBag.pid" />

        <div class="form-group">
            <label for="name">@localizer.GetKey("Adınız Soyadınız", typeof(CommentResources)) *</label>
            <input type="text" class="form-control" id="name" name="NameSurname">
        </div>
        <div class="form-group">
            <label for="email">@localizer.GetKey("Email Adresiniz", typeof(CommentResources)) *</label>
            <input type="email" class="form-control" id="email" name="Email">
        </div>
        <div class="form-group">
            <label for="message">@localizer.GetKey("Mesajınız", typeof(CommentResources)) *</label>
            <textarea id="message" cols="30" rows="5" class="form-control" name="CommentDetail"></textarea>
        </div>
        <div class="form-group mb-0">
            <input type="submit" value="@localizer.GetKey("Yorum Yap", typeof(CommentResources))" class="btn btn-primary px-3">
        </div>
    </form>
</div>

<script>
    const stars = document.querySelectorAll('.star');

    stars.forEach((star) => {
        star.addEventListener('click', (e) => {
            const clickedStarIndex = parseInt(e.target.getAttribute('data-index'));
            stars.forEach((star, index) => {
                if (index < clickedStarIndex) {
                    star.classList.remove('far');
                    star.classList.add('fas');
                } else {
                    star.classList.remove('fas');
                    star.classList.add('far');
                }
            });
        });
    });
</script>

<script>
    document.getElementById('commentForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const stars = document.querySelectorAll('.star');
        let rating = 0;
        stars.forEach((star) => {
            if (star.classList.contains('fas')) {
                rating = star.getAttribute('data-index');
            }
        });

        const formData= new FormData(this);
        formData.append('Rating', rating);

        fetch('/ProductList/AddComment', {
            method: 'POST',
            body: formData
        }).then(response => {
            if (!response.ok) {
                throw new Error('@localizer.GetKey("Yorum eklenirken bir hata oluştu.", typeof(CommentResources))');
            }
            return response.json();
        }).then(data => {
            if(data === true) {
                alert('@localizer.GetKey("Yorumunuz başarıyla eklendi.", typeof(CommentResources))');
                location.reload();
            } else {
                alert('@localizer.GetKey("Yorum eklenirken bir hata oluştu.", typeof(CommentResources))');
            };
        }).catch(error => {
            console.error('Error', error);
        });
    });
</script>