@model CreateRegisterDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MULTISHOP | Register</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/fonts/line-awesome/css/line-awesome.min.css">
    <!-- Jquery -->
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/colorlib-regform-30/css/style.css" />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/online-shop-website-template/css/style.css" rel="stylesheet">
</head>

<body class="form-v4 justify-content-center align-items-center">
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-12 text-center text-lg-right">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="btn-group">
                        @await Html.PartialAsync("_SetLanguagePartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="form-v4-content" style="margin-top: 49px">
            <div class="form-left">
                <h2 class="text-white">@localizer.GetKey("MULTISHOP E-TİCARET", typeof(RegisterResources))</h2>
                <p class="text-1">@localizer.GetKey("MULTISHOP’a hoş geldiniz! Alışverişin en hızlı ve güvenli adresine giriş yaparak binlerce ürüne anında ulaşabilirsiniz.", typeof(RegisterResources))</p>
                <p class="text-2"><span>@localizer.GetKey("Hesabınıza giriş yapın:", typeof(RegisterResources))</span> @localizer.GetKey("Güvenli ödeme seçenekleri ve kişiselleştirilmiş alışveriş deneyimi için e-posta ve şifrenizle giriş yapın.", typeof(RegisterResources))</p>
                <div class="form-left-last">
                    <a href="/Login/Index/" class="account" style="height: 35px; line-height: 35px; display: inline-block; text-align: center; padding: 0 15px; text-decoration: none; border-radius: 5px;">@localizer.GetKey("Giriş Yap", typeof(RegisterResources))</a>
                </div>
            </div>
            <form class="form-detail" method="post">
                <h2>@localizer.GetKey("MultiShop Kayıt Formu", typeof(RegisterResources))</h2>
                <div class="form-group">
                    <div class="form-row form-row-1 mr-1">
                        <label for="first_name">@localizer.GetKey("Ad", typeof(RegisterResources))</label>
                        <input type="text" id="first_name" class="input-text" asp-for="Name">
                    </div>
                    <div class="form-row form-row-1">
                        <label for="last_name">@localizer.GetKey("Soyad", typeof(RegisterResources))</label>
                        <input type="text" id="last_name" class="input-text" asp-for="Surname">
                    </div>
                </div>
                <div class="form-row">
                    <label for="your_email">@localizer.GetKey("Email Adresi", typeof(RegisterResources))</label>
                    <input type="text" id="your_email" class="input-text" required pattern="[^]+[^]+.[a-zA-Z]{2,6}" asp-for="Email">
                </div>
                <div class="form-row">
                    <label for="your_username">@localizer.GetKey("Kullanıcı Adı", typeof(RegisterResources))</label>
                    <input type="text" id="your_username" class="input-text" required asp-for="Username">
                </div>
                <div class="form-group">
                    <div class="form-row form-row-1 mr-1">
                        <label for="password">@localizer.GetKey("Şifre", typeof(RegisterResources))</label>
                        <input type="password" id="password" class="input-text" required asp-for="Password">
                    </div>
                    <div class="form-row form-row-1">
                        <label for="comfirm-password">@localizer.GetKey("Şifre Tekrar", typeof(RegisterResources))</label>
                        <input type="password" id="comfirm_password" class="input-text" required asp-for="ConfirmPassword">
                    </div>
                </div>
                <div class="form-row-last">
                    <button class="register" style="height: 35px; line-height: 35px; display: inline-block; text-align: center; padding: 0 15px; text-decoration: none; border-radius: 5px;">@localizer.GetKey("Kayıt Ol", typeof(RegisterResources))</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script>
        // just for the demos, avoids form submit
        jQuery.validator.setDefaults({
            debug: true,
            success: function (label) {
                label.attr('id', 'valid');
            },
        });
        $("#myform").validate({
            rules: {
                password: "required",
                comfirm_password: {
                    equalTo: "#password"
                }
            },
            messages: {
                first_name: {
                    required: "@localizer.GetKey("Lütfen adınızı giriniz.", typeof(RegisterResources))"
                },
                last_name: {
                    required: "@localizer.GetKey("Lütfen soyadınızı giriniz.", typeof(RegisterResources))"
                },
                your_email: {
                    required: "@localizer.GetKey("Lütfen email adresinizi giriniz.", typeof(RegisterResources))"
                },
                password: {
                    required: "@localizer.GetKey("Lütfen şifrenizi giriniz.", typeof(RegisterResources))"
                },
                comfirm_password: {
                    required: "@localizer.GetKey("Lütfen şifrenizi tekrar giriniz.", typeof(RegisterResources))",
                    equalTo: "@localizer.GetKey("Şifreler uyuşmuyor.", typeof(RegisterResources))"
                }
            }
        });
    </script>
    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>